<main class="carousel-body" role="main">

      <div class="container solution">
        <h2>A 4-step modular solution designed to help fashion brands set sustainability goals and achieve their ESG ambition.</h2>
        <div class="my-4 "></div>
        <br/>

        <div class="row featurette">
          <div class="col-md-12" style="text-align:left">
            <h1><span class="outstanding-word">1</span> Collect internal brand data</h1><br/>
            <h3>A set of tools to <span class="outstanding-expression">make extensive product data collection effortless.</span></h3>
            <p class="lead">We transform rough inputs from brands and structure them to fit a customized framework.</p>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-12 order-md-2" style="text-align:right">
            <h1><span class="outstanding-word">2</span> Build operations traceability process</h1><br/>
            <h3>A solution to <span class="outstanding-expression">overcome supply chain complexity and opacity.</span></h3>
            <p class="lead">We collect the required data from suppliers all along the value chain and act as a trusted third party to communicate the right level of granularity.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-12" style="text-align:left">
            <h1><span class="outstanding-word">3</span> Assess ESG performance</h1><br/>
            <h3>Advanced analytics supports to <span class="outstanding-expression">turn sustainability goals into measurable actions.</span></h3>
            <p class="lead">We provide a methodology to analyze products' current and future ESG performance based on objectives set by the brands and our recommendations.</p>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-12 order-md-2" style="text-align:right">
            <h1><span class="outstanding-word">4</span> Leverage traceability data</h1><br/>
            <h3>Data sharing tools to <span class="outstanding-expression"> give consumers and stakeholders next level transparency.</span></h3>
            <p class="lead">We extract relevant data from traceability outputs to communicate internally and externally to investors, labels and others.</p>
            <p><a class="btn btn-secondary" href="phase4" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div><!-- /.container -->
</main>