<main class="carousel-body" role="main">
 <!--
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Make data collection exhaustive and effortless.</h1>
                <p>We transform rough inputs and structure them to fit a customized framework.</p>
                <p><a class="btn btn-secondary" href="phase1" role="button">Discover more about phase 1 &raquo;</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption">
                <h1>Overcome supply chain complexity and opacity.</h1>
                <p>We collect the requested data from suppliers and we manage the level of granularity to be shared.</p>
                <p><a class="btn btn-secondary" href="phase2" role="button">Discover more about phase 2 &raquo;</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Turn sustainable ambitions into measurable actions.</h1>
                <p>We provide tools to assess and modelize products'CSR performance based on current and future achievements.</p>
                <p><a class="btn btn-secondary" href="phase3" role="button">Discover more about phase 3 &raquo;</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Give consumers next level of transparency.</h1>
                <p>We transform collected data to directly fill in scoring, certifications, and other CSR assessment forms.</p>
                <p><a class="btn btn-secondary" href="phase4" role="button">Discover more about phase 4 &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
-->

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container solution">
        <h2>A 4-step <span class="outstanding-expression">modular solution</span> designed to help fashion brands set sustainability goals and <span class="outstanding-expression">achieve their ESG ambition.</span></h2>
        <div class="my-4 "></div>
        <br/>

        <div class="row">
          <div class="col-lg-3">
            <h1><span class="outstanding-word">1</span></h1>    
            <h3>Collect<br/>
            internal brand data</h3><br/>
           <!--  <p> An accurate supply chain traceability starts with a robust and comprehensive data baseline.</p>-->
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h1><span class="outstanding-word">2</span></h1>  
            <h3>Build operations<br/>
            traceability process</h3><br/>
            <!-- <p>Traceability requires the connection of multiple partners and the ability to make them collaborate by sharing their data.</p> -->
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h1><span class="outstanding-word">3</span></h1>   
            <h3>Assess<br/>
            ESG performance</h3><br/>
            <!-- <p>Spread out data finally gathered still needs to be transformed into relevant insights to be highly valuable.</p>-->
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h1><span class="outstanding-word">4</span></h1>  
            <h3>Leverage<br/>
            traceability data</h3><br/>
            <!-- <p>Transfer this data to access a wide network of fashion CSR solutions promoting transparency and circularity.</p> -->
            <p><a class="btn btn-secondary" href="phase4" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><br/><br/>


        <!-- START THE FEATURETTES -->        
        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-10" style="text-align:left">
            </br>
            <h3>A set of tools to <span class="outstanding-expression">make extensive product data collection effortless.</span></h3>
            <p class="lead">We transform rough inputs from brands and structure them to fit a customized framework.</p>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-2">
            <h1><span class="outstanding-word">1</span></h1> 
          </div>
        </div>

        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-10 order-md-2" style="text-align:right">
            </br>
            <h3>A solution to <span class="outstanding-expression">overcome supply chain complexity and opacity.</span></h3>
            <p class="lead">We collect the required data from suppliers all along the value chain and act as a trusted third party to communicate the right level of granularity.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-2 order-md-1">
            <h1><span class="outstanding-word">2</span></h1> 
          </div>
        </div>

        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-10" style="text-align:left">
            </br>
            <h3>Advanced analytics supports to <span class="outstanding-expression">turn sustainability goals into measurable actions.</span></h3>
            <p class="lead">We provide a methodology to analyze products' current and future ESG performance based on objectives set by the brands and our recommendations.</p>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-2">
            <h1><span class="outstanding-word">3</span></h1> 
          </div>
        </div>

        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <div class="hr-icon"><%= image_tag "scroll-down.png", width:"50"%></div>
          <div class="hr-line"></div>
        </div>

        <div class="row featurette">
          <div class="col-md-10 order-md-2" style="text-align:right">
            </br>
            <h3>Data sharing tools to <span class="outstanding-expression"> give consumers and stakeholders next level of transparency.</span></h3>
            <p class="lead">We extract relevant data from traceability outputs to communicate internally and externally to investors, labels and others.</p>
            <p><a class="btn btn-secondary" href="phase4" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-2 order-md-1">
            <h1><span class="outstanding-word">4</span></h1> 
          </div>
        </div>
      </div><!-- /.container -->
</main>