<main class="px-3">
  <h1>Sustainable fashion starts with supply chain transparency.</h1>
  <p class="lead">Trace For Good is the digital platform that allows product traceability for the fashion industry.</p>
  <p class="lead">
    <% if user_signed_in? %>
      <a href="/static_pages/index" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color:rgb(51,51,51); font-size:medium">Discover our product</a>
    <% else %>
      <a href="/users/sign_up" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color:rgb(51,51,51); font-size:medium">Sign up to access the Beta version for free </a>
    <% end %>  
  </p>
</main>