</main >
  <header class="masthead mb-auto">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="../static_pages/phase1">Collect brand data</a>
        <a class="nav-link" href="../static_pages/phase2">Trace back operations</a>
        <a class="nav-link" href="../static_pages/phase3">Analyze CSR performance</a>
        <a class="nav-link" href="../static_pages/phase4">Leverage traceability outputs</a>
      </nav>
    </div>
    <hr class="my-4">
  </header>

  <div class="container marketing">
    <h2>1- Define scope</h2>
        <div class="row">
          <div class="col-lg-4">
            <h2>xx</h2>
            <p> Select your granularity level of traceability : product / collection / brand </p><br/>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>xx</h2>
            <p>Traceability requires the connection of multiple partners and the ability to make them collaborate by sharing their data.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>xx</h2>
            <p>Spread out data finally gathered still needs to be transformed into relevant insights to be highly valuable.</p><br/>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    <hr class="my-4">

      <h2>2- Provide data</h2>
        <div class="row">
          <div class="col-lg-4">
            <h2>xx</h2>
            <p> Select your granularity level of traceability : product / collection / brand </p><br/>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>xx</h2>
            <p>Traceability requires the connection of multiple partners and the ability to make them collaborate by sharing their data.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>xx</h2>
            <p>Spread out data finally gathered still needs to be transformed into relevant insights to be highly valuable.</p><br/>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    <hr class="my-4">

      <h2>3- Monitor</h2>
        <div class="row">
          <div class="col-lg-4">
            <h2>xx</h2>
            <p> Select your granularity level of traceability : product / collection / brand </p><br/>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>xx</h2>
            <p>Traceability requires the connection of multiple partners and the ability to make them collaborate by sharing their data.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>xx</h2>
            <p>Spread out data finally gathered still needs to be transformed into relevant insights to be highly valuable.</p><br/>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

  </div>
</main>