</main >
  <header class="masthead mb-auto">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="../static_pages/phase1">Collect brand data</a>
        <a class="nav-link active" href="../static_pages/phase2">Trace back operations</a>
        <a class="nav-link" href="../static_pages/phase3">Analyze CSR performance</a>
        <a class="nav-link" href="../static_pages/phase4">Leverage traceability outputs</a>
      </nav>
    </div>
    <hr class="my-4">
  </header>

  <div class="container marketing">

        <div class="row">
          <div class="col-lg-6">
            <h2>Trigger suppliers collaboration</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i> Onboard direct suppliers in the platform</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Access a communication channel with suppliers to promote data sharing</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Receive notice if action is required to prevent suppliers from non-collaboration</p><br/>
            <p><a class="btn btn-secondary" href="#" role="button">Download emails templates</a></p>
          </div>
          <div class="col-lg-6">
            <h2>Monitor advancement</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i> Follow step by step advancement</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Access real-time new traceability information</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Decide of the traceability phase completion (optional)</p><br/>
            <p><a class="btn btn-secondary" href="dashboard_phase2" role="button">Access company dashboard phase 2 &raquo;</a></p>
          </div>
        </div><!-- /.row -->


  </div>
</main>