</main >
  <header class="masthead mb-auto">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="../static_pages/phase1">Collect brand data</a>
        <a class="nav-link" href="../static_pages/phase2">Trace back operations</a>
        <a class="nav-link" href="../static_pages/phase3">Analyze CSR performance</a>
        <a class="nav-link" href="../static_pages/phase4">Leverage traceability outputs</a>
      </nav>
    </div>
    <hr class="my-4">
  </header>

  <div class="container marketing">

        <div class="row">
          <div class="col-lg-4">
            <h2>Define scope</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i> Select level of granularity (brand / product)</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Set items to be traced back</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Validate "traceability card" framework</p><br/>
            <p><a class="btn btn-secondary" href="#" role="button">Download "traceability card" examples</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Provide data</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i> Select option of data collection</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Assess internal data available and onboard stakeholders in the platform</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Set company data collection deadline to generate automatic reminder (optional)</p>
            <p><a class="btn btn-secondary" href="brand_data_collection" role="button">Access company data collection interface &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Monitor baseline</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i> Gain an overview of data collection advancement</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Follow KPIs and action list</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Get a first assessment of company internal level of transparency</p>
            <p><a class="btn btn-secondary" href="dashboard_phase1" role="button">Access company dashboard phase 1 &raquo;</a></p>
          </div>
        </div><!-- /.row -->

  </div>
</main>