</main >
  <div class="masthead">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link focus-phase" href="../static_pages/phase1">1- Collect internal brand data</a>
        <a class="nav-link focus-phase active" href="../static_pages/phase2">2- Build operations traceability process</a>
        <a class="nav-link focus-phase" href="../static_pages/phase3">3- Assess ESG performance</a>
        <a class="nav-link focus-phase" href="../static_pages/phase4">4- Leverage traceability data</a>
      </nav>
    </div>
  </div>

  <div class="container focus-phase">

        <div class="row">
          <div class="col-lg-7">
            <h2><span class="outstanding-word">Trigger</span> suppliers collaboration</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Onboard suppliers to the platform</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Access channel for direct communication with suppliers to promote data sharing</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Receive reminder alerts when action from suppliers is required</p>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">Download emails templates</a></p>-->
            </div>
          </div>
          <div class="col-lg-5">
            <h2><span class="outstanding-word">Monitor</span> cooperation</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Follow step by step advancement</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Access real-time updates in traceability information</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Assess quality of supply chain transparency</p><br/>
              <!-- <p><a class="btn btn-secondary" href="dashboard_phase2" role="button">Access company dashboard phase 2 &raquo;</a></p>-->
            </div>
          </div>
        </div><!-- /.row -->


  </div>
</main>