</main >
  <div class="masthead">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link focus-phase" href="../static_pages/phase1">1- Collect internal brand data</a>
        <a class="nav-link focus-phase" href="../static_pages/phase2">2- Build operations traceability process</a>
        <a class="nav-link focus-phase active" href="../static_pages/phase3">3- Assess ESG performance</a>
        <a class="nav-link focus-phase" href="../static_pages/phase4">4- Leverage traceability data</a>
      </nav>
    </div>
  </div>

  <div class="container focus-phase">

        <div class="row">
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Analyze</span> performance</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Get a supply chain risk mapping overview</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Measure impact of future actions</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Get ESG performance positioning</p>
              <!-- <p><a class="btn btn-secondary" href="dashboard_phase3" role="button">Access company dashboard phase 3 &raquo;</a></p>-->
            </div>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Turn</span> insights into actions</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Create improvement action lists</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Rank actions from highest to lowest impact</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Rank actions by ease of implementation</p><br/>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">Download supply chain CSR roadmap example</a></p>-->
            </div>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Visualize</span> actions impact</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Assess risks reduction from identified actions</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Assess value creation from identified actions</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Get ready-to-use traceability reports at product and company level</p><br/>
              <!-- <p><a class="btn btn-secondary" href="dashboard_phase3" role="button">Access company dashboard phase 3 &raquo;</a></p>-->
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

  </div>
</main>