</main >
  <header class="masthead">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link focus-phase" href="../static_pages/phase1">1- Collect brand data</a>
        <a class="nav-link focus-phase" href="../static_pages/phase2">2- Trace back operations</a>
        <a class="nav-link focus-phase active" href="../static_pages/phase3">3- Analyze CSR performance</a>
        <a class="nav-link focus-phase" href="../static_pages/phase4">4- Leverage traceability outputs</a>
      </nav>
    </div>
    <hr class="my-4">
  </header>

  <div class="container focus-phase">

        <div class="row">
          <div class="col-lg-4">
            <h2>Analyze current performance</h2><br/>
            <p><i class="fa fa-check" aria-hidden="true"></i> Assess level of transparency</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Get a supply chain risk mapping overview</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Get a high level CSR performance positioning (fashion scores simulation)</p>
            <p><a class="btn btn-secondary" href="dashboard_phase3" role="button">Access company dashboard phase 3 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>Transform insights into actions</h2><br/>
            <p><i class="fa fa-check" aria-hidden="true"></i> Generate an improvement actions list</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Order from higher to lower impact</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Order by ease of implementation</p><br/>
            <p><a class="btn btn-secondary" href="#" role="button">Download supply chain CSR roadmap example</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>Modelize actions<br/>
            impact</h2><br/>
            <p><i class="fa fa-check" aria-hidden="true"></i> Select actions and items</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Assess risks reduction and value creation</p>
            <p><i class="fa fa-check" aria-hidden="true"></i> Modelize fashion scores performance</p><br/>
            <p><a class="btn btn-secondary" href="dashboard_phase3" role="button">Access company dashboard phase 3 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

  </div>
</main>