</main >
  <header class="masthead mb-auto">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="../static_pages/phase1">Collect brand data</a>
        <a class="nav-link active" href="../static_pages/phase2">Trace back operations</a>
        <a class="nav-link" href="../static_pages/phase3">Analyze CSR performance</a>
        <a class="nav-link" href="../static_pages/phase4">Leverage traceability outputs</a>
      </nav>
    </div>
    <hr class="my-4">
  </header>

  <div class="container marketing">

          <div class="row">
          <div class="col-lg-3">
            <h2><span>Collect<span><br/>
            <span>brand data<span></h2>
            <p> An accurate supply chain traceability starts with a robust and comprehensive data baseline.</p><br/>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h2><span>Trace back<span><br/>
            <span>operations<span></h2>
            <p>Traceability requires the connection of multiple partners and the ability to make them collaborate by sharing their data.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h2><span>Analyze<span><br/>
            <span>CSR performance<span></h2>
            <p>Spread out data finally gathered still needs to be transformed into relevant insights to be highly valuable.</p><br/>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h2><span>Leverage<span><br/>
            <span>Traceability data<span></h2>
            <p>Transfer this data to access a wide network of fashion CSR solutions promoting transparency and circularity.</p>
            <p><a class="btn btn-secondary" href="phase4" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

  </div>
</main>