</main >
  <div class="masthead">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link focus-phase" href="../static_pages/phase1">1- Collect internal brand data</a>
        <a class="nav-link focus-phase" href="../static_pages/phase2">2- Build operations traceability process</a>
        <a class="nav-link focus-phase" href="../static_pages/phase3">3- Assess ESG performance</a>
        <a class="nav-link focus-phase active" href="../static_pages/phase4">4- Leverage traceability data</a>
      </nav>
    </div>
  </div>

  <div class="container focus-phase">

        <div class="row">
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Communicate</span></br>directly to</br> final consumer</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Define template of product transparency card</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Download ready-to-plug cards</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Allow your customers to access detailed product information</p><br/><br/>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">Download "transparency card" templates</a></p>-->
            </div>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Transform</span> data for communication to stakeholders</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Extract customized data outputs</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Automatically generate reports</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Share reports and data with various stakeholders: investors, certification providers and others</p><br/><br/>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">Access company forms request interface &raquo;</a></p>-->
            </div>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Meet</span><br/>relevant</br>ESG partners</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Define your profile and needs</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Get a list of relevant referenced partners</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Contact potential partners through the platform and keep track of communication</p>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">Coming soon - working hard on it</a></p> -->
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

  </div>
</main>