</main >
  <div class="nav-solutions">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">Collect brand data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trace back operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analyze CSR performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leverage traceability data</a>
      </li>
    </ul>
  </div>
  <div class="jumbotron">

    <h1 class="h3 mb-3 fw-normal">2- Trace back operations</h1>

    <hr class="my-4">
  </div>

  <div class="container marketing">

          <div class="row">
          <div class="col-lg-3">
            <h2><span>1-Collect<span><br/>
            <span>brand data<span></h2>
            <p> An accurate supply chain traceability starts with a robust and comprehensive data baseline.</p><br/>
            <p><a class="btn btn-secondary" href="phase1" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h2><span>2-Trace back<span><br/>
            <span>operations<span></h2>
            <p>Traceability requires the connection of multiple partners and the ability to make them collaborate by sharing their data.</p>
            <p><a class="btn btn-secondary" href="phase2" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h2><span>3-Analyze<span><br/>
            <span>CSR performance<span></h2>
            <p>Spread out data finally gathered still needs to be transformed into relevant insights to be highly valuable.</p><br/>
            <p><a class="btn btn-secondary" href="phase3" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <h2><span>4-Leverage<span><br/>
            <span>Traceability data<span></h2>
            <p>Transfer this data to access a wide network of fashion CSR solutions promoting transparency and circularity.</p>
            <p><a class="btn btn-secondary" href="phase4" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7" style="text-align:left">
            <h2 class="featurette-heading">A set of tools to <span class="text-muted">make data collection exhaustive and effortless.</span></h2>
            <p class="lead">Onboard all the relevant stakeholders who can upload, fill or push their information on the platform. We transform rough inputs into structured ones to initiate product traceability.</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "step1bis.png", class:"featurette-image img-fluid mx-auto", width:"150", height:"150"%>  
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2" style="text-align:right">
            <h2 class="featurette-heading">A solution to <span class="text-muted">overcome supply chain complexity and opacity.</span></h2>
            <p class="lead">Acquire a wide understanding of your products’supply chain by letting us bridge data sources from partners involved. As a third party, we preserve the confidentiality suppliers require : we collect the requested data and we manage the level of granularity to be shared.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag "step2bis.png", class:"featurette-image img-fluid mx-auto", width:"150", height:"150"%>  
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7" style="text-align:left">
            <h2 class="featurette-heading">Advanced analytic supports to <span class="text-muted">turn sustainable ambitions into measurable actions.</span></h2>
            <p class="lead">Steer or adjust your CSR action plan with a clear overview of your products’ CSR performance. We provide you the tools to assess and modelize them based on your current and future achievements.</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "step3bis.png", class:"featurette-image img-fluid mx-auto", width:"150", height:"150"%>  
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2" style="text-align:right">
            <h2 class="featurette-heading">Data sharing enablers to <span class="text-muted">give consumers next level of transparency.</span></h2>
            <p class="lead">Leverage your data by transferring them seamlessly to multiple fashion CSR solutions. We transform your set of collected data to directly fill in scoring, certifications, and other CSR assessment forms.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag "step4bis.png", class:"featurette-image img-fluid mx-auto", width:"150", height:"150"%>  
          </div>
        </div>

        <hr class="featurette-divider">

  </div>
</main>