</main >
  <div class="masthead">
    <div class="inner-solution">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link focus-phase active" href="../static_pages/phase1">1- Collect internal brand data</a>
        <a class="nav-link focus-phase" href="../static_pages/phase2">2- Build operations traceability process</a>
        <a class="nav-link focus-phase" href="../static_pages/phase3">3- Assess ESG performance</a>
        <a class="nav-link focus-phase" href="../static_pages/phase4">4- Leverage traceability data</a>
      </nav>
    </div>
  </div>

  <div class="container focus-phase">

        <div class="row">
          <div class="col-lg-4">
            <h2> <span class="outstanding-word">Define</span> scope</h2><br/>
            <div class="detailed-solution">
                <p><i class="fa fa-check" aria-hidden="true"></i> Set priority goals: ESG topics and </br>granularity of data</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Choose products for assessment</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Validate traceability framework</p><br/><br/>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">Download "traceability card" examples</a></p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Gather</span> data</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Choose options for data collection</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Assess internal data availability and </br>set data collection objectives</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Onboard teams to the platform</p>
              <!-- <p><a class="btn btn-secondary" href="brand_data_collection" role="button">Access company data collection interface &raquo;</a></p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <h2><span class="outstanding-word">Monitor</span> advancement</h2><br/>
            <div class="detailed-solution">
              <p><i class="fa fa-check" aria-hidden="true"></i> Get real time monitoring of data collection advancement</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Assess company’s level of transparency</p>
              <p><i class="fa fa-check" aria-hidden="true"></i> Follow KPIs and action list</p>
              <!-- <p><a class="btn btn-secondary" href="dashboard_phase1" role="button">Access company dashboard phase 1 &raquo;</a></p> -->
            </div>
          </div>
        </div><!-- /.row -->

  </div>
</main>