<main class="carousel-body" role="main">

      <div class="container solution">
        <h2>Find out more about who is behind Trace For Good.</h2>
        <div class="my-4 "></div>
        <br/>

        <div class="row">

          <div class="col-lg-6">
            <h3><span class="outstanding-word">Léa</span></h3>
            <%= image_tag "Team_lea.png", style:'height:150px', class:"team-img"%><br/> <br/> 
            <div class="container team-text">
              <p>Léa graduated from ESCP Europe and Centrale Paris. She spent 3 years in Venture Capital and Investment Banking, both in San Francisco and Paris. Working with fast growing companies in the low carbon economy, she gained knowledge in scaling companies in the green energy and sustainability sectors.</p>
              <p>She started Trace For Good with the conviction that the urgent changes needed in the fashion industry will be implemented faster with the ability for brands to easily measure the value creation potential of transformative actions and communicate it towards consumers.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <h3><span class="outstanding-word">Laura</span></h3>
            <%= image_tag "Team_laura.png", style:'height:150px', class:"team-img"%><br/> <br/>
            <div class="team-text">
              <p>Laura studied at ESCP Europe with a specialization in entrepreneurship at the University of Illinois. She spent 3 years working as a consultant for Kearney in Paris where she gained a deep expertise in project management,  data analysis and got a thorough understanding of the consumer goods industry’s ESG challenges.</p>
              <p>She started Trace For Good with the desire to make ESG transformation accessible and straightforward to fashion brands with ambitious sustainable goals.</p>
            </div>
          </div>

        </div><br/><br/>
      <div>

</main>