<main>
  <div class="row dashboard-all">
    <div class="col-2 side-dashboard">
      <ul class="nav flex-column ul-dashboard">
        <li class="nav-item">
          <h6>Company dashboards</h6>
        </li>
        <li class="nav-item">   
          <a class="nav-link  li-dashboard" href="/static_pages/dashboard_phase1">
            <%= image_tag "step1bis.png", class:"phases-logo-dashboard"%> 
            Collect brand data
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link li-dashboard" href="/static_pages/dashboard_phase2">
            <%= image_tag "step2bis.png", class:"phases-logo-dashboard"%> 
            Trace back operations
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  li-dashboard" href="/static_pages/dashboard_phase2">
            <%= image_tag "step3bis.png", class:"phases-logo-dashboard"%> 
            Analyze CSR performance
          </a>
        </li>
      </ul>

      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <h6 class="li-dashboard">Traceability cards</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link active li-dashboard" href="/static_pages/traceability_card_product">
            Item #111 - framework at product level
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  li-dashboard" href="/static_pages/traceability_card_brand">
            <span data-feather="file-text"></span>
            Item #222 - framework at brand level
          </a>
        </li>
      </ul>
    </div>

    <div class="col-10 trace-card">

      <div class="row trace-card level-1-1">
          <div class="trace-card-title">Product reference: item #111</div>   
        <div class="col-5 trace-card categ-profil">
          <div class="input-group input-group-sm var-pdt">
            <label class="input-group-text" for="inputGroupSelect01">Profile</label>
            <select class="form-select var-pdt" id="inputGroupSelect01">
              <option selected>Select...</option>
              <option value="1">Women</option>
              <option value="2">Men</option>
              <option value="3">Mixed</option>
              <option value="3">Children</option>
              <option value="3">Home</option>
            </select>
            <label class="input-group-text" for="inputGroupSelect01">Category</label>
            <select class="form-select var-pdt" id="inputGroupSelect01">
              <option selected>Select...</option>
              <option value="1">Trousers</option>
              <option value="2">Denim</option>
              <option value="3">Dress</option>
            </select>
          </div>    
        </div>
        <div class="col-7 trace-card var-pdt">
          <div class="input-group input-group-sm var-pdt">
            <span class="input-group-text optional" id="inputGroup-sizing-sm">Quantity ordered</span>
            <input type="text" class="form-control var-pdt" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text optional" id="inputGroup-sizing-sm">Date de mise en vente</span>
            <input type="text" class="form-control var-pdt" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text optional" id="inputGroup-sizing-sm">Durée de vie sur la saison</span>
            <input type="text" class="form-control var-pdt" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>

      <div class="row trace-card level-1-2">
          <div class="trace-card-title">Composition</div> 
        <div class="col-6 trace-card">
          <div class="table-responsive">
            <table class="table table-sm trace-card">
              <thead>
                <tr>
                  <th>Matière</th>
                  <th>Attributs responsables</th>
                  <th>Lieu d'approvisionnement</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select compo #1</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select compo #2</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select compo #3</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select compo #4</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-6 trace-card">
          <div class="table-responsive">
            <table class="table table-sm trace-card">
              <thead>
                <tr>
                  <th>Accessories</th>
                  <th>Attributs responsables</th>
                  <th>Lieu d'approvisionnement</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select accessories #1</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select accessories #2</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select accessories #3</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select compo" id="inputGroupSelect01">
                      <option selected>Select accessories #4</option>
                      <option value="1">Trousers</option>
                      <option value="2">Denim</option>
                      <option value="3">Dress</option>
                    </select>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row trace-card level-1-3">
        <div class="trace-card-title">Operations</div> 
        <div class="col-6 trace-card">
          <div class="trace-card-title">Internalized</div> 
          <div class="row trace-card level-2">
            <div class="table-responsive">
              <table class="table table-sm trace-card">
                <thead>
                  <tr>
                    <th>Textile activities</th>
                    <th>Process</th>
                    <th>Technique</th>
                    <th>Country</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row trace-card level-2">
            <div class="table-responsive">
              <table class="table table-sm trace-card">
                <thead>
                  <tr>
                    <th>Other activities</th>
                    <th>Process</th>
                    <th>Technique</th>
                    <th>Country</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-6 trace-card">
          <div class="trace-card-title">Externalized</div> 
          <div class="row trace-card level-2">
            <div class="table-responsive">
              <table class="table table-sm trace-card">
                <thead>
                  <tr>
                    <th>Textile activities</th>
                    <th>Process</th>
                    <th>Technique</th>
                    <th>Country</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row trace-card level-2">
            <div class="table-responsive">
              <table class="table table-sm trace-card">
                <thead>
                  <tr>
                    <th>Other activities</th>
                    <th>Process</th>
                    <th>Technique</th>
                    <th>Country</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #1</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #2</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Operation #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Procédé #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select compo" id="inputGroupSelect01">
                        <option selected>Technique #3</option>
                        <option value="1">xxx</option>
                        <option value="2">xxx</option>
                        <option value="3">xxx</option>
                        <option value="3">xxx</option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control compo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Optional">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>    
    </div>

  </div>
</main>