<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your registration is completed ! </h1>
    <p> The TraceForGood team is looking forward to meeting you !  </p>
    <p> In the meantime, you can find out more about <%= link_to "our tracability solution", @url_product %> and <%= link_to "our vision", @url_about %>.</p>
  
    <p>Laura from TraceForGood</p>
  </body>
</html>