<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, you have just joined the TraceForGood platform, thank you and welcome ! </h1>
    <p>
      CSR transformation and fashion tracability are a long journey and we have so much to talk about to make them faster and more efficient!
    </p>
    <p>
      The TraceForGood team is looking forward to meeting you !
      In the meantime, you can find out more about our product and our vision by logging into your customer profil: <%= @url %>.
    </p>
    <p> We will get back to you as soon as possible,</p>
    <p> Laura from TraceForGood</p>
  </body>
</html>