<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have just joined the TraceForGood platform, thank you and welcome ! </h1>
    <p>To complete your registration, you first need to <%= link_to "join or register a company", @url_companies %> and complete your user profile. </p> <br/>
    <p>
    The TraceForGood team is looking forward to meeting you !
    </p>
    <p>Laura from TraceForGood</p>
  </body>
</html>