<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user registration on the platform ! </h1>
    <p>
      New user's email :<%= @user.email%>
    </p>
    <p>
      To check registration details and advancement : <%= "admin interface", @url_admin%>
    </p>
  </body>
</html>