<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New company registration on the platform ! </h1>
    <p>
      New company's name :<%= @company.name%>
    </p>
    <p>
      To check registration details : <%= "admin interface", @url_admin%>
    </p>
  </body>
</html>