<main class="form-company">
  <h1 class="h3 mb-3 fw-normal">Edit company profile</h1>

  <%= render 'form', company: @company %>

  <%= link_to 'Company profile', @company %>
  <%= link_to 'Back', companies_path %>
</main>
