<main>
    <p id="notice"><%= notice %></p>

    <div class="jumbotron">
    <h1 class="h3 mb-3 fw-normal"><span class="outstanding-word">Join</span> or <span class="outstanding-word">Register</span> your company</h1>
    <p>To complete your registration you first need to join or register a company !</p>
    <hr class="my-4">
    <p class="lead">Your are the first of your company to join the platform?</p>
    <p class="lead">
        <%= link_to 'Register a new company', new_company_path, class:"w-20 btn btn-secondary"%> <br/>
    </p>
    <hr class="my-4">
    <p class="lead">Your company has already been registered? Select yours in the list below!</p>
    <p class="lead">
        <div class="row company-card">
            <% @companies.each do |company| %>
                <div class="card col-md-2">
                    <div class="card-body">
                        <p class="card-title"><%= company.name %></p>
                        <%= link_to 'Join this company', company, class:"btn btn-secondary btn-sm", style:" font-size:medium" %> <br/>
                    </div>
                </div>
            <% end %>
        </div>
    </p>
    </div>
</main>

