/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require main
 *= require users
 */
 @import "bootstrap";
 @import "font-awesome";

 /* main typo */
 /* text, title, CTA */ @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 /* quotes or names */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
 /* outstanding words */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap');
 /* outstanding quotes or names */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');
 
 /* secondary typo */
 /* outstanding title */ @import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

/* global */
:root {
  --bs-primary: #739987;
  --bs-secondary: #21211f;
  --bs-success: #c42e99;
  --bs-info: #c42e99;
  --bs-warning: #6129eb;
  --bs-danger: #6129eb;
  --bs-light: #fff9fa;
  --bs-dark: #21211f;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 10em, 10em;
  background-color: #fff9fa;
  color: #21211f;
}

main {
  margin-top: 5em;
}

a {
  color: #6129eb;
  text-decoration: underline;
}

td {
  color: #21211f;
}

/* messages */ 
.error-explanation {
  font-size: small;
  color: #6129eb;
}

.notice {
  font-size: small;
  color: #6129eb;
}

/* button */ 
.btn-primary, .btn-secondary {
  text-shadow: none;
  border-radius: 20px;
  text-decoration: none;
}

.btn-primary {
  background-color: #fff9fa;
  color: #21211f;
  border: 2px solid #739987 ;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color:#739987;
  color: #21211f;
  border: #739987;
}

.btn-secondary {
  background-color:#21211f;
  color: #fff9fa;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color:#c42e99;
  color: #fff9fa;
}

.show > .btn-secondary:focus{
  background: #c42e99 !important ;
  box-shadow:none !important;
  border: none !important;
  
  }

/* word and title */

.outstanding-word {
  font-family: 'Newsreader', serif;
  color: #c42e99;
  font-size: 1.3em;
}

.outstanding-expression {
  font-family: 'Newsreader', serif;
  color: #739987;
  font-size: 1.3em;
}

/* Header */

header {
  color:#21211f;
  background-color: #fff9fa;
  border-bottom: 2px solid #21211f;
}
.nav-masthead .nav-link {
  color: #21211f;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #c42e99;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.dropdown-toggle {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #d1d1d4;
}

.nav-masthead .active {
  color: #fff9fa;
  border-bottom-color: #fff9fa;
}

.float-md-start {
  margin-left: 0.5rem;
}

/* footer */

footer {
  color:#21211f;
  background-color: #739987;
}

/* landing page */

.landing-title {
  margin-top: 5em;
}

/* about */
.container {
  align-items: center;
}

.about {
  margin-left: 8em;
  margin-right: 8em;
  text-align: left;
  font-size: large;
}

@media (max-width: 62em) {
  .about {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 5em;
  }
}

@media (max-width: 48em) {
  .about {
    margin-top: 7em;
  }
}

/* team */
.team-img {
  border-bottom: 2px solid #21211f;
}

.team-text {
  text-align: left;
}

/* Company forms */
select {
  outline: none;
  background-color: white!important;
}

select option:checked,
select option:hover {
  background: white !important;;
}

/* User forms */

.form-floating {
  text-shadow: none;
}

.form-control:focus {
  border-color: #c42e99;
  box-shadow: 0px 0px 8px rgba(196, 46, 153, 0.5);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  align-self: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.lead {
  margin-bottom: 0.5em;
}

 /* solution */

 .container.solution {
  margin-bottom: auto;
}
 
/** column **/

.marketing .col-lg-3 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.detailed-solution {
  text-align: left;
}


.marketing h2 {
  font-weight: 200;
}
/* rtl:begin:ignore */
.marketing .col-lg-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */
.my-4 {
  position: relative;
  margin: 10px;
  border-bottom: 1px solid #21211f;
}

.hr-theme-slash-2 {
  display: flex;
  margin-bottom: 2em;

  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #21211f;
  }

}

/* solution focus by phases */

.masthead {
margin-top: 5em;
}

.inner-solution {
  margin: 3rem 0;
}

.nav-link.focus-phase {
  margin-right: 4px;
  color:#21211f;
}

.nav-link.focus-phase.active{
  color:#739987;
}

.nav-link.focus-phase:hover {
  color: #c42e99;
}

.container.focus-phase {
  margin-top: 2em;
  margin-bottom: auto;
}

/* dashboard */

 .li-dashboard {
  display: block;
  padding: 0.5rem 0.2rem;
 }

 h6.li-dashboard {
  margin-bottom: 0;
  margin-top: 1rem;
 }


.col-2.side-dashboard {
  border-right-style: solid;
  border-right-color:white;
  border-right-width: 1px;
  text-align: left;
  text-shadow: none;
  text-align: left;
  font-size:small;
}


@media (max-width: 767.98px) {
  .col-2.side-dashboard {
    min-width: 120px;
  }
}

.nav-link.li-dashboard {
  font-weight: 500;
  color: #333;
}

.nav-link {
  margin-right: 4px;
  color: #727272;
}

.nav-link.active.li-dashboard {
  color: #007bff;
}

.nav-link.li-dashboard:hover,.nav-link.nav-link.active.li-dashboard{
  color: inherit;
}

/* core dashboard */

.dashboard-molecule-1, .dashboard-molecule-2, .dashboard-molecule-3 {
  background-color: rgba(250,250,250, 0.2);
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.dashboard-molecule-1 {
  border-top-left-radius: 20px;
}

.dashboard-molecule-2 {
  border-bottom-right-radius: 20px;
}

.dashboard-molecule-3 {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dashboard-molecule-3.phase1 {
  height: 91.4%;
}
.dashboard-molecule-3.phase2 {
  height: 93.2%;
}

.col-6.core-dashboard-title, .col-4.core-dashboard-title, .col-3.core-dashboard-title {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: none;
  padding: none;
}

p.core-dashboard-title {
 margin-bottom: 0;
 font-weight: bold;
}

.col-6.core-dashboard, .col-4.core-dashboard {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-shadow: none;
}

.column.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: none;
  margin:none;
  height: 100%;
}
.row.dashboard-all, .row.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:none;
}

.row.dashboard-all {
  margin-top: 0.7rem;
  text-shadow: none;
}


.col-3.core-dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
  text-shadow: none;
  padding: 5px 5px;
}

.fa-envelope-open-o:hover {
  color: #007bff;
}

.fa-3x {
  margin-top: 0.2rem;
}

.send-reminder {
  margin-bottom: 0.5rem;
}
.progress, .progress-subtitle {
  margin-bottom: 0.5rem;
}

.progress-title {
  font-weight: bold;
  text-shadow: none;
  font-size: small;
}

.progress.multiple {
  margin: 0.5rem 0.5rem;
}

.btn {
  border-style: none;
}

/* traceability card */

.col-10.trace-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.row.trace-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.col-2.trace-card, .col-5.trace-card, .col-6.trace-card, .col-7.trace-card   {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}

.level-1-1,.level-1-2,.level-1-3 {
  background-color: rgba(250,250,250, 0.2);
}

.level-1-1 {
  border-top-left-radius: 20px;
  margin-bottom: 1rem;
}

.level-1-3 {
  border-bottom-right-radius: 20px;
  margin-top: 1rem;
}

.categ-profil, .var-pdt{
  padding-left: 0%;
  padding-right: 0%;
}

.input-group-sm {
  margin-left: 0%;
  margin-right: 0%;
  font-size:smaller;
  padding:none;
}

.input-group-sm.var-pdt {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.input-group-text.optional {
  color:darkgray;
}

.trace-card-title {
  font-weight: bold;
  text-shadow: none;
  font-size: small;
}

.table.trace-card {
  text-align: left;
  margin-bottom: 0;
  background-color: transparent;
}

.form-select.var-pdt, .form-control.var-pdt {
  border-style: none;
  font-size:small;
  color: white;
  height: 30px;
  background-color:transparent;
}

.form-select.compo, .form-control.compo {
  border-style: none;
  font-size:small;
  color: white;
  height: 30px;
  padding: 0;
  background-color:transparent;
}

.row.trace-card.overview {
  padding: 0rem;
}

ul, hr{
  padding:0rem;
  margin:0rem;
}

hr.dashed, hr.solid {
  border-width: 3px ;
}

hr.solid {
  border-style: solid;
  background-color: white;
}

hr.dashed {
  border-style: dashed ;
  background-color:transparent;
}

.col-1.trace-card.path, .col-2.trace-card.path {
  padding: 0rem;
  margin-top: 0 rem;
}