  <footer class="mt-auto"> 
    <div class="mt-2 mb-2">
      <p>Trace for Good is the collaborative platform for fashion traceability.</p>
      <p>Contact us at <b>contact@traceforgood.com</b></p>
    </div>
  </footer>